apiVersion: v1  
kind: ReplicationController
metadata:  
  name: broker
spec:  
  replicas: 1
  template:
    metadata:
      labels:
        app: broker
    spec:
      containers:
       - name: rabbitmq
         image: diegodelemos/capreuse_broker:0.1.0
         ports:
          - containerPort: 5672 
            name: "tcp"
          - containerPort: 15672 
            name: "management"
