apiVersion: v1
kind: ReplicationController
metadata:
  name: flower
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: flower
    spec:
      containers:
       - name: flower
         image: diegodelemos/capreuse_flower:v0.1.0
         ports:
          - containerPort: 5555 
            name: "http"
         env:
          - name: CELERY_BROKER_URL
            value: amqp://test:1234@broker-service//
          - name: FLOWER_BROKER_API
            value: http://test:1234@broker-service:15672/api/
