<html>
  <head>
    <title>Background task example</title>
  </head>
  <body>
    <h2>Background taks example</h2>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <form method="POST">
      <p>
        Calculate fibonacci for: <input type="number" name="number" required>
        &nbsp;
        Experiment:
        <select name="experiment" required>
          <option value="alice">ALICE</option>
          <option value="atlas">ATLAS</option>
          <option value="cms">CMS</option>
          <option value="lhcb">LHCb</option>
        </select>
        &nbsp;
        <input type="submit" name="submit" value="Submit">
      </p>
    </form>
  </body>
</html>
